In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# read files

movie_file = ("Resources/movies_metadata.csv")

grossing_movies_file = ("Resources/Top_Grossing_Movies_of_2018.csv")

In [3]:
#Read city data file with the pandas library.

#movies metadata
movie_data_df = pd.read_csv(movie_file)
movie_data_df.head()

/Users/saraheshelden/miniconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,10/30/95,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,FALSE,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,12/15/95,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,FALSE,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,12/22/95,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,FALSE,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,12/22/95,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,FALSE,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,2/10/95,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
#grossing movies
top_grossing_movies_df = pd.read_csv(grossing_movies_file)
top_grossing_movies_df.head()

,Rank,Movie,Release,Distributor,Genre,MPAA,2018 Gross,Tickets Sold
0,NaN,NaN,Date,NaN,NaN,NaN,NaN,NaN
1,1,Black Panther,2/16/18,Walt Disney,Action,PG-13,"$700,059,566","78,044,544"
2,2,Avengers: Infinity War,4/27/18,Walt Disney,Action,PG-13,"$678,815,482","75,676,196"
3,3,Incredibles 2,6/15/18,Walt Disney,Adventure,PG,"$608,581,744","67,846,348"
4,4,Jurassic World: Fallen Kingdom,6/22/18,Universal,Action,PG-13,"$417,719,760","46,568,535"

In [5]:
# do budgets determine popularity of movies?
#compare budget column to popularity column
# create a scatterplot to see results 

movie_data_df[["budget", "popularity"]].head()

     budget popularity
0  30000000    21.9469
1  65000000    17.0155
2         0    11.7129
3  16000000    3.85949
4         0    8.38752

In [6]:

new_movie_data_df = movie_data_df.loc[movie_data_df["budget"] != 0 ]
new_movie_data_df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,10/30/95,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,FALSE,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,12/15/95,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
3,FALSE,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,12/22/95,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
5,FALSE,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,12/15/95,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
6,FALSE,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,12/15/95,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0
8,FALSE,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,12/22/95,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0
9,FALSE,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,11/16/95,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
10,FALSE,NaN,62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,11/17/95,107879496.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why can't the most powerful man in the world h...,The American President,False,6.5,199.0
13,FALSE,NaN,44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,...,12/22/95,13681765.0,192.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,False,7.1,72.0
14,FALSE,NaN,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,12/22/95,10017322.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137.0
15,FALSE,NaN,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,524,tt0112641,en,Casino,The life of the gambling paradise – Las Vegas ...,...,11/22/95,116112375.0,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343.0
16,FALSE,NaN,16500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",...,12/13/95,135000000.0,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Lose your heart and come to your senses.,Sense and Sensibility,False,7.2,364.0
17,FALSE,NaN,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,...,12/9/95,4300000.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.5,539.0
18,FALSE,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,11/10/95,212385533.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,False,6.1,1128.0
19,FALSE,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,...,11/21/95,35431113.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Get on, or GET OUT THE WAY!",Money Train,False,5.4,224.0
20,FALSE,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",NaN,8012,tt0113161,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,...,10/20/95,115101622.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The mob is tough, but it’s nothing like show b...",Get Shorty,False,6.4,305.0
22,FALSE,NaN,50000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9691,tt0112401,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,...,10/6/95,30303072.0,132.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the shadows of life, In the business of dea...",Assassins,False,6.0,394.0
24,FALSE,NaN,3600000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",...,10/27/95,49800000.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,I Love You... The Way You Are.,Leaving Las Vegas,False,7.1,365.0
26,FALSE,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9263,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,...,10/20/95,27400000.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In every woman there is the girl she left behind.,Now and Then,False,6.6,91.0
28,FALSE,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,tt0112682,fr,La Cité des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,5/16/95,1738611.0,108.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308.0
31,FALSE,NaN,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63,tt0114746,en,Twelve Monkeys,"In the year 2035, convict James Cole reluctant...",...,12/29/95,168840000.0,129.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470.0
33,FALSE,"{'id': 9435, 'name': 'Babe Collection', 'poste...",30000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,9598,tt0112431,en,Babe,Babe is a little pig who doesn't quite know hi...,...,7/18/95,254134910.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A little pig goes a long way.,Babe,False,6.0,756.0
35,FALSE,NaN,11000000,"[{'id': 18, 'name': 'Drama'}]",NaN,687,tt0112818,en,Dead Man Walking,A justice drama based on a true story about a ...,...,12/29/95,39363635.0,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Dead Man Walking,False,7.3,350.0
38,FALSE,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9603,tt0112697,en,Clueless,"Shallow, rich and socially successful Cher is ...",...,7/19/95,0.0,97.0,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,Sex. Clothes. Popularity. Is there a problem h...,Clueless,False,6.9,828.0
41,FALSE,NaN,10000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,11443,tt0112819,en,Dead Presidents,"Depicts a heist of old bills, retired from cir...",...,10/6/95,0.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"In this daring heist, the only color that coun...",Dead Presidents,False,6.6,80.0
42,FALSE,NaN,19000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,35196,tt0114272,en,Restoration,"An aspiring young physician, Robert Merivel fo...",...,12/29/95,0.0,117.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Restoration,False,6.3,30.0
43,FALSE,"{'id': 9818, 'name': 'Mortal Kombat Collection...",18000000,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",NaN,9312,tt0113855,en,Mortal Kombat,For nine generations an evil sorcerer has been...,...,8/18/95,122195920.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Nothing In This World Has Prepared You For This.,Mortal Kombat,False,5.4,452.0
44,FALSE,NaN,20000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,577,tt0114681,en,To Die For,Susan wants to work in television and will the...,...,5/20/95,21284514.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All she wanted was a little attention.,To Die For,False,6.7,177.0
45,FALSE,NaN,10000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,11861,tt0113347,en,How To Make An American Quilt,Soon-to-be-wed graduate student Finn Dodd deve...,...,10/6/95,23574130.0,116.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There's beauty in the patterns of life.,How To Make An American Quilt,False,6.5,38.0
46,FALSE,NaN,33000000,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",http://www.sevenmovie.com/,807,tt0114369,en,Se7en,Two homicide detectives are on a desperate hun...,...,9/22/95,327311859.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Seven deadly sins. Seven ways to die.,Se7en,False,8.1,5915.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45017,FALSE,NaN,400000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.comounanoviasinsexo.com.ar/,444935,tt5332158,es,Como una novia sin sexo,When three friends go on a camping trip in a r...,...,10/13/16,0.0,143.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,Until the desire appears,Bromance,False,5.5,2.0
45031,FALSE,NaN,15000000,"[{'id': 28, 'name': 'Action'}]",NaN,460846,tt3501112,en,Security,"An ex-special services veteran, down on his lu...",...,3/4/17,0.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Security,False,6.0,113.0
45046,FALSE,NaN,500000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,401132,tt5720450,en,Independents' Day,"Aliens invade, this time delivering a clear ul...",...,6/7/16,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The revolution begins, again!",Independents' Day,False,3.9,25.0
45098,FALSE,NaN,2000,"[{'id': 16, 'name': 'Animation'}, {'id': 27, '...",http://www.pixelnitrate.com/sebastians_voodoo,52803,tt1305751,en,Sebastian's Voodoo,A voodoo doll must find the courage to save hi...,...,6/7/08,0.0,4.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,Sebastian's Voodoo,False,6.8,18.0
45113,FALSE,NaN,21000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,301016,tt4119030,ru,Солнечный удар,The story is set in a filtration camp in Novem...,...,10/4/14,0.0,175.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Sunstroke,False,3.9,6.0
45134,FALSE,NaN,7500000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,59914,tt1298831,en,La blonde aux seins nus,"Julian, 25, and Louis, 12, are two brothers wh...",...,7/21/10,0.0,100.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,The Blonde with Bare Breasts,False,4.0,3.0
45135,FALSE,NaN,10000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,326029,tt0756639,en,Delivery,An old man lives a lonely life under the dark ...,...,4/9/05,0.0,9.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Delivery,False,0.0,0.0
45139,FALSE,NaN,50000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",http://www.theemoji-movie.com/,378236,tt4877122,en,The Emoji Movie,"Gene, a multi-expressional emoji, sets out on ...",...,7/28/17,66913939.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Not easy being meh,The Emoji Movie,False,5.8,327.0
45167,FALSE,NaN,11000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,395834,tt5362988,en,Wind River,An FBI agent teams with the town's veteran gam...,...,8/3/17,184770205.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Nothing is harder to track than the truth.,Wind River,False,7.4,181.0
45206,FALSE,NaN,34000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",http://detroit.movie,407448,tt5390504,en,Detroit,A police raid in Detroit in 1967 results in on...,...,7/28/17,0.0,143.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It's time we knew,Detroit,False,7.3,67.0
45250,FALSE,NaN,12000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,24049,tt0479751,ta,சிவாஜி,Corrupt police and politicians target a comput...,...,6/14/07,19000000.0,185.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,NaN,Sivaji: The Boss,False,6.9,25.0
45266,FALSE,NaN,2000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,373247,tt4463120,en,Down Under,A black comedy set during the aftermath of the...,...,8/11/16,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Australia V Australia - Nobody wins,Down Under,False,7.2,9.0
45268,FALSE,NaN,5402000,"[{'id': 35, 'name': 'Comedy'}]",NaN,277839,tt4531694,fr,Pattaya,Franky and Krimo dream of leaving the grey gri...,...,2/24/16,0.0,100.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,"Good Guys Go to Heaven, Bad Guys Go to Pattaya",False,5.3,153.0
45278,FALSE,NaN,1689118,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,92108,tt1807958,pl,Baby są jakieś inne,"Dwóch prawdziwych facetów, których połączyła e...",...,10/14/11,0.0,90.0,"[{'iso_639_1': 'pl', 'name': 'Polski'}]",Released,NaN,Baby sa jakies inne,False,4.8,4.0
45302,FALSE,NaN,3417000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,30019,tt1489263,no,Upperdog,"As young children, half-siblings Axel and Yann...",...,8/28/09,0.0,95.0,"[{'iso_639_1': 'no', 'name': 'Norsk'}]",Released,NaN,Upperdog,False,6.9,5.0
45343,FALSE,"{'id': 52888, 'name': 'The Visitors Collection...",25868826,"[{'id': 35, 'name': 'Comedy'}]",NaN,248705,tt2441982,fr,Les Visiteurs: La Révolution,"Stuck in the corridors of time, Godefroy de Mo...",...,3/23/16,0.0,110.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,The Visitors: Bastille Day,False,4.0,167.0
45346,FALSE,NaN,2000000,"[{'id': 37, 'name': 'Western'}, {'id': 878, 'n...",NaN,36139,tt1388432,en,High Plains Invaders,It's the Old Western times and an outlaw named...,...,8/30/09,0.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,High Plains Invaders,False,5.3,9.0
45352,FALSE,NaN,7500000,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",NaN,39164,tt0085693,en,House of the Long Shadows,An American writer goes to a remote Welsh mano...,...,6/17/83,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,House of the Long Shadows,False,6.1,18.0
45363,FALSE,NaN,5,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,71016,tt0086189,en,The Return of Captain Invincible,"In WWII, Captain Invincible used his superpowe...",...,1/1/83,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What the world needs now is a shining hero!,The Return of Captain Invincible,False,6.0,7.0
45366,FALSE,NaN,500000,"[{'id': 27, 'name': 'Horror'}]",NaN,40467,tt0082237,en,Dawn of the Mummy,A group of fashion models disturb the tomb of ...,...,12/11/81,0.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"A monstrous, chilling terror stalking the living…",Dawn of the Mummy,False,3.6,8.0
45379,FALSE,NaN,2,[],NaN,227143,tt2401213,uk,Іван Сила,"""Strong Ivan"" is a film telling an outstanding...",...,10/2/13,0.0,80.0,"[{'iso_639_1': 'uk', 'name': 'Український'}]",Released,NaN,Іван Сила,False,7.0,1.0
45390,FALSE,NaN,10000,"[{'id': 27, 'name': 'Horror'}]",NaN,99104,tt0126820,en,Bloodletting,"A young woman, fascinated with mass murderers,...",...,1/1/97,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The only thing that stands between Butch and S...,Bloodletting,False,5.0,1.0
45395,FALSE,NaN,1200000,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",http://ddpromo.ru/,97797,tt0477340,ru,Мертвые дочери,In present-day Moscow ghosts of three little g...,...,2/1/07,0.0,123.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,Be Good Or Die,Dead Daughters,False,4.9,5.0
45398,FALSE,NaN,1254040,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",http://lmtr.fi/,468707,tt5742932,fi,Lauri Mäntyvaaran tuuheet ripset,NaN,...,7/28/17,0.0,90.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,NaN,Thick Lashes of Lauri Mäntyvaara,False,8.0,1.0
45399,FALSE,NaN,750000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,280422,tt3805180,ru,Все и сразу,NaN,...,6/5/14,3.0,0.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,All at Once,False,6.0,4.0
45402,FALSE,NaN,2000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,293654,tt3761706,ru,Корпоратив,"Igor, a furniture store manager, tries to figu...",...,9/18/14,0.0,89.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Corporate Event,False,3.5,4.0
45408,FALSE,NaN,2000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,100152,tt0417949,ru,Марс,"Somewhere deep, deep in Russia there is a town...",...,11/11/04,0.0,100.0,[],Released,NaN,Mars,False,5.0,2.0
45409,FALSE,NaN,800000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,62757,tt0933361,en,Dikari,"The sea, August, interesting and simple people...",...,11/23/06,1328612.0,100.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Savages,False,5.8,6.0
45412,FALSE,NaN,2000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,63281,tt1718881,en,Про любоff,"У девушки Даши, приехавшей с подругой «покорят...",...,9/30/10,1268793.0,107.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Pro Lyuboff,False,4.0,3.0
45422,FALSE,NaN,5000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,63898,tt1110037,ru,Антидурь,Failing to complete an important assignment wi...,...,9/6/07,1413000.0,91.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Antidur,False,1.0,1.0

In [54]:
print(new_movie_data_df.describe())

             budget       revenue      runtime  vote_average    vote_count
count  8.890000e+03  8.890000e+03  8880.000000   8890.000000   8890.000000
mean   2.160428e+07  5.466837e+07   105.383108      6.013273    466.748256
std    3.431063e+07  1.365862e+08    28.292072      1.247683   1030.294482
min    1.000000e+00  0.000000e+00     0.000000      0.000000      0.000000
25%    2.000000e+06  0.000000e+00    91.000000      5.400000     20.000000
50%    8.000000e+06  3.220762e+06   101.000000      6.200000     94.000000
75%    2.500000e+07  4.479118e+07   116.000000      6.800000    406.750000
max    3.800000e+08  2.787965e+09   705.000000     10.000000  14075.000000