In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [5]:
# read files

movie_file = ("Resources/movies_metadata.csv")

grossing_movies_file = ("Resources/Top_Grossing_Movies_of_2018.csv")

In [6]:
#Read city data file with the pandas library.

#movies metadata
movie_data_df = pd.read_csv(movie_file)
movie_data_df.head()

C:\Users\sinan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [7]:
#grossing movies
top_grossing_movies_df = pd.read_csv(grossing_movies_file)
top_grossing_movies_df.head()

,Rank,Movie,Release,Distributor,Genre,MPAA,2018 Gross,Tickets Sold
0,NaN,NaN,Date,NaN,NaN,NaN,NaN,NaN
1,1,Black Panther,2/16/18,Walt Disney,Action,PG-13,"$700,059,566","78,044,544"
2,2,Avengers: Infinity War,4/27/18,Walt Disney,Action,PG-13,"$678,815,482","75,676,196"
3,3,Incredibles 2,6/15/18,Walt Disney,Adventure,PG,"$608,581,744","67,846,348"
4,4,Jurassic World: Fallen Kingdom,6/22/18,Universal,Action,PG-13,"$417,719,760","46,568,535"